.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  border-bottom: 1px solid black;
  align-content: space-around;
  padding: 10px 0px;


}

.logo {


}

.heading {
  color: mediumaquamarine;
  padding-left: 10px;
  flex-grow: 2;

}

.top_nav a {
  color: black;
  padding: 0px 20px;

}

li {
  display: inline;



}
