/*top header */
.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  border-bottom: 1px solid black;
  align-content: space-around;
  padding: 10px 0px;
  margin-bottom: 10px;
}

.heading {
  color: mediumaquamarine;
  padding-left: 10px;
  flex-grow: 2;
}

.top_nav a {
  color: black;
  padding: 0px 20px;
}

.top_nav li {
  display: inline;
}

/*--          div border delete later --*/
div {
  border: 1px solid black;
}

/*--           Main content         --*/
.content {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 50px;
}

.story-content {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.image-text {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
/*--      left column           --*/
.main-story-text {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.column.large {
  display: flex;
  width: 630px;
}

.tuna-image {
  height: 300px;
  background-image: url("../images/wineglass_bottle.png");
}

.earth-story {
  height: 300px;
  background-image: url("../images/fall_season_girl.png");
}

.research-story {
  height: 300px;
  background-image: url("../images/beardman_camera.png");
}

.more-stories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.orca-story {
  height: 250px;
  width: 300px;
}

.burger-story {
  height: 250px;
  width: 300px;
}

.earth-story {
  height: 300px;
  width: 300px;
}

.research-story {
  height: 300px;
  width: 300px;
}

/*--      middle column       --*/
.column.medium {
  width: 300px;
}

.cat-image {
  height: 300px;
  background-image: url("../images/whitecat_girl.png");
}


/*--      right COLUMN    --*/
.column.small {
  width: 240px;
}
